.title {
    font-size: 32px;
    color: #222;
    font-weight: 700;
    margin: 40px 0px;
}

.wrapper {
    border: 2px solid rgb(6, 195, 22);
    padding-bottom: 10px;

    .heading {
        margin-top: -2px;
        margin-left: -2px;
        margin-right: -2px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        color: white;
        height: 40px;
        background-color: rgb(6, 195, 22);
    }
}

.wrapper-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .action-btn {
        border: none;
        padding: 4px 10px;
        border-radius: 4px;
    }

    .yellow {
        background-color: rgb(249, 249, 54);
    }

    .red {
        background-color: rgb(219, 65, 65);
        color: white;
    }

    .green {
        background-color: rgb(72, 242, 72);
    }
}

.shop-img {
    width: 100%;
    object-fit: contain;
}

.id_shop {
    width: 100px !important;
}