.collapse {
    margin-left: 60px;

    .nav-link {
        margin: 0 30px;
        padding: 8px;
        color: white;
    }
}

.nav-bar {
    padding: 2px 24px !important;
    background-color: rgb(108, 166, 247);
}